.home {
  background: no-repeat url("../../../public/car-hero-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}


.home-text {
  color: white;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 30px;
  text-shadow: 2px 2px 4px #000000;
}