/* .home {
  background: no-repeat url("../../../public/car-hero-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}


.home-text {
  color: white;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 30px;
  text-shadow: 2px 2px 4px #000000;
} */

.carousel {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  background-color: #fcae1e;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* maybe contain? */
}

.carousel p {
  position: absolute; /* placing image on top of background */
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  font-family: 'Bebas Neue', sans-serif;
}
