body.modal-open {
  height: 100%;
  overflow: hidden;
}

.new-car-modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-car-modal {
  z-index: 2;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 700px;
  height: 410px;
  padding: 35px;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #263343;
}

.new-car-modal h1 {
  text-align: center;
}

.new-car-modal button {
  background-color: #fcae1e;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  width: 140px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}

.new-car-form-buttons {
  display: flex;
  justify-content: space-around;
}

.new-car-modal button:hover {
  background-color: #263343;
  color: #FFFFFF;
}