.cart-items-container {
  /* display: grid;
  grid-template-areas:
    "a b"
    "c c";*/
  display: grid;
  grid-template-areas: 
  "image info"
  "image button";
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 0px 5px #263343;
  border-radius: 4px;
  width: 50%;
}

.cart-item-button {
  background-color: #fcae1e;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: rgb(30, 48, 80);
  width: 130px;
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
}

.cart-item-button:hover {
  background-color: #263343;
  color: #FFFFFF;
}

.cart-item-info {
  grid-area: info;
  display: flex;
 font-size: 20px;
 gap: 30%;

}
.cart-item-label {
  color: #fcae1e;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

/* .cart-item-column {
  display: flex;
  flex-direction: column;
} */

@media only screen and (max-width: 480px){
  /* .cart-items-container {
    grid-template-areas:
      "a"
      "b"
      "c";
      margin: 20px 10px;
      padding: 15px;
  }

  .cart-item-button {
    width: 100%;
    margin: 10px 0;
  } */
  .cart-items-container {
    width: 100%;
    margin: 20px 10px;
    padding: 15px;
    grid-template-areas: 
    "image"
    "info"
    "button";
  }
}