.cart-items-container {
  display: grid;
  grid-template-areas:
    "image info"
    "button button";
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 0px 5px #263343;
  border-radius: 4px;
  width: 800px;
}

.cart-item-button {
  background-color: #fcae1e;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: rgb(30, 48, 80);
  width: 130px;
  padding: 10px;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  grid-area: button;
}

.cart-item-button:hover {
  background-color: #263343;
  color: #FFFFFF;
}

.cart-item-info {
  grid-area: info;
  display: flex;
  font-size: 20px;
  gap: 50px;
  margin-left: -30px;
}

.cart-item-label {
  color: #fcae1e;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .cart-items-container {
    width: 100%;
    margin: 20px 10px;
    padding: 15px;
    grid-template-areas:
      "image"
      "info"
      "button";
  }

  .cart-items-container img {
    margin: 0 auto;
  }

  .cart-item-info {
    margin-left: 0;
  }
}