body.modal-open {
  height: 100%;
  overflow: hidden;
}

.car-detail-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.car-detail-modal {
  z-index: 2;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 700px;
  height: 400px;
  padding: 50px;
  background-color: #FFFFFF;

  display: grid;
  grid-template-areas:
    "a b"
    "c d";
}

.car-detail-image {
  grid-area: a;
}

.car-detail-modal button {}