body.modal-open {
  height: 100%;
  overflow: hidden;
}

.car_detail_overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.car_detail_modal {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 400px;
  margin-top: 200px;
  margin-left: 200px;
  padding: 50px;
  background-color: #FFFFFF;

  display: grid;
  grid-template-areas:
    "a b"
    "c d";
}

.car_detail_image {
  grid-area: a;
}

.car_detail_modal button {}

.all_cars_screen {
  /* prevent scrolling */
  border: solid red;
  height: calc();
  overflow: hidden;
}