.car-detail-modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;

  display: grid;
  grid-template-areas:
    "a a"
    "b c"
    "d e"
    "g h"
    "i j"
    "k l"
    "m m";
}

.car-detail-image {
  grid-area: a;
}

.car-detail-seller {
  grid-area: m;
}